<div class="card">

  <div class="product-image-wrap">
    <img [src]="product.images[0]?.file || '/assets/images/products/default-item-image.png'" [alt]="product.theme">
  </div>


  <div class="bottom-sheet">

    <div class="title-wrap">
      {{product.theme}}
    </div>

    <div class="user-action-wrap">

      <i class="fa fa-shopping-cart fa-2x" (click)="addProductToCart(product)"></i>

      <a [routerLink]="[ '/products' , product.pk]" class="preview-icon-wrap">
        <i class="fa fa-eye fa-2x"></i>
      </a>
    </div>

  </div>

</div>
