<div class="user-area-block">

  <div class="no-auth-block" *ngIf="!(isLoggedIn | async)">
    <p>Welcome, <a [routerLink]="['/auth/sign_in']">login</a> or <a [routerLink]="['/auth/sign_up']">register</a> for start</p>
  </div>

  <div class="auth-block" *ngIf="(isLoggedIn | async)">

    <div class="main-menu">

      <div class="avatar-wrap">
        <img [src]="currentUser.user.avatar || '/assets/images/user/default_avatar.png'" alt="User avatar">
      </div>

      <span>{{ userFullName }}</span>

    </div>

    <div class="sub-menu">

      <div class="add-new-post-block">
        <a [routerLink]="['/products/add']">Add new post</a>
      </div>

      <span class="divider"></span>

      <div class="profile-block">
        <a href="javascript:;" (click)="logout()">Logout</a>
      </div>

    </div>

  </div>

</div>
