.product-list-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .product-item-wrap {
     flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
  }

}


@media screen and (min-width: 40em) {
    .product-item-wrap {
       max-width: calc(50% -  1em);
    }
}

@media screen and (min-width: 60em) {
    .product-item-wrap {
        max-width: calc(25% - 1em);
    }
}
