<ng-container *ngIf="!isProductsListInitialLoading; else products_loading">

  <div class="product-list-wrap" (window:scroll)="onScroll($event)">
    <div class="product-item-wrap" *ngFor="let product of products">
      <app-product-item [product]="product"></app-product-item>
    </div>
  </div>

  <div class="default-preloader-wrap">
    <app-main-preloader *ngIf="isProductsListLoading && !isProductsListInitialLoading"></app-main-preloader>
  </div>

</ng-container>

<ng-template #products_loading>
  <div class="initial-preloader-wrap">
    <app-main-preloader></app-main-preloader>
  </div>
</ng-template>

