.auth-page-wrap {
   height: 100vh;

  .background-image {
    margin-right: 300px;
    height: calc(100% - 60px);
    width: calc(100% - 250px);
    background-image: url("/assets/images/auth/background_image.png");
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width: 480px) {
      display: none;
    }
  }

  .sidebar-wrap {
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 300px;
    padding: 5em 0.5em;
    background-color: #00b3be;

    @media (max-width: 480px) {
      width: 100%;
    }

    .logo-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 5em;
    }

    .auth-buttons-wrap {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 2em;

      .auth-button {
        background-color: #f2f2f2;
        padding: .6em 2em;
        text-decoration: none;
        color: #4a4a4a;
        font-weight: 400;

        &.active {
          border-bottom: 3px solid #91d763;
        }
      }
    }

    .auth-form-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}


