.user-area-block {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 2em;
  background-color: #00b3be;
  position: relative;

  @media (max-width: 768px) {
     padding: 0 .5em;
  }

  &:hover {
    border-left: 4px solid #000000;

    .auth-block .sub-menu {
      display: flex;
    }
  }

  .no-auth-block {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;

    a {
      color: #4a4a4a;
      text-decoration: none;
    }
  }

  .auth-block {
    font-weight: bold;
    font-size: 18px;
    color: #FFFFFF;
    width: 100%;

    .main-menu {
      display: flex;
      align-items: center;

      .avatar-wrap {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 1em;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .sub-menu {
      display: none;
      justify-content: space-around;
      position: absolute;
      top: 50px;
      left: -4px;
      background-color: #00b3be;
      width: calc(100% + 4px);
      border-left: 4px solid #000000;

      .add-new-post-block {
        padding: .5em 0;
        flex-grow: 4;
        text-align: center;

        a {
          text-decoration: none;
          color: #FFFFFF;
          font-weight: 300;
        }
      }

      .profile-block {
        padding: .5em 0;
        flex-grow: 4;
        text-align: center;

        a {
          text-decoration: none;
          color: #FFFFFF;
          font-weight: 300;
        }
      }

      .divider {
        border-left: 4px solid #000000;
        display: block;
        flex-grow: 1;
      }
    }
  }
}
