.product-list-wrap {
  display: flex;
  flex-wrap: wrap;

  .product-item-wrap {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
  }

}

.initial-preloader-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -35px;
  margin-top: -10px;
}

.default-preloader-wrap {
  margin: 2em 0;
}


@media screen and (min-width: 40em) {
    .product-item-wrap {
       max-width: calc(50% -  .5em);
    }
}

@media screen and (min-width: 60em) {
    .product-item-wrap {
        max-width: calc(25% - .5em);
    }
}
