<form class="auth-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <div class="form-group">

    <label class="center-block">
      <input type="email"
             class="form-control"
             formControlName="email"
             placeholder="Email"
             [class.is-invalid]="isInvalid('email')">
    </label>

    <div class="invalid-feedback" *ngIf="loginError">
      <p *ngFor="let error of loginError.email">{{ error }}</p>
    </div>


    <div class="invalid-feedback" *ngIf="f.get('email').hasError('required') && f.get('email').touched">
      Please type email.
    </div>

  </div>

  <div class="form-group">

    <label class="center-block">
      <input type="password"
             class="form-control"
             formControlName="password"
             placeholder="Password"
             [class.is-invalid]="isInvalid('password')">
    </label>

    <div class="invalid-feedback" *ngIf="loginError">
      <p *ngFor="let error of loginError.password">{{ error }}</p>
    </div>

    <div class="invalid-feedback" *ngIf="f.get('password').hasError('required') && f.get('password').touched">
      Please type password.
    </div>

  </div>

  <div class="invalid-feedback" *ngIf="loginError">
    <p *ngFor="let error of loginError.non_field_errors">{{ error }}</p>
  </div>

  <div class="form-action-wrap">
    <button type="submit" class="action-button" [disabled]="loginForm.invalid || isLoginProcess">Login</button>
  </div>

  <app-main-preloader *ngIf="isLoginProcess"></app-main-preloader>

</form>
